<script type="module" src="/javascript/client/observers.js"></script>
<div class="container">
  <div class="streamImage">
    <h4>{{streamerInfo.title}}</h4>
    <img id="cameraImg">
  </div>
  <div class="controlRobot">
    {{#if streamerInfo.robotClient}}
    <p>Lorem ipsum dolor sit amet, consectetur</p>
    <button type="button" id="controlRobotButton" class="btn btn-primary btn-lg">Gain control of the robot</button>
    <button type="button" id="releaseRobotButton" style="display:none" class="btn btn-primary btn-lg">Release control of the robot</button>
    {{/if}}
  </div>
</div>
